.toast-success {
	background-color: #51A351 !important;
}
.toast-info {
	background-color: #2F96B4 !important;
}
.toast-danger {
	background-color: #e3342f !important;
}
.toast-warning {
	background-color: #f6993f !important;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}